etiquetador_DPB/envars
etiquetador_DPB/.Rproj.user
etiquetador_DPB/registros
etiquetador_DPB/a.csv
etiquetador_DPB/biogeographic
etiquetador_DPB/R/piloto
etiquetador_DPB/R/registros
etiquetador_DPB/R/miscelanea
etiquetador_DPB/resultadosPiloto
